@lightRed:   #fdd;
@lightGreen: #dfd;
@lightBlue:  #ddf;
 
@defaultThemeColor:@lightBlue;


.shape{
    display:inline-block;
    width:1024px;
    height:1024px;
    background:@defaultThemeColor;
    margin:20px;
}

.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
	-webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
	-moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
	box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}

#shape1{
    -webkit-border-radius:100px;
       -moz-border-radius:100px;
            border-radius:100px;
            .box-shadow(5px, 5px, 6px, 0.3);
}

#shape2{
    -webkit-border-radius:15px;
       -moz-border-radius:15px;
            border-radius:15px;
            .box-shadow(5px, 5px, 6px, 0.3);
            width:210px;
                height:170px;
                background:@lightGreen;
}

.computeButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 3px 0px #ffffff;
	box-shadow:inset 0px 1px 3px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#545154;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.computeButton:hover {
	background-color:#dfdfdf;
}.computeButton:active {
	position:relative;
	top:1px;
}

