@(result : String, conversionForm: Form[Long])

@import helper._

@main("timeconv") {

<br>
<br>

<h2>Convert your Java miliseconds.</h2>

<h3>@result</h3>

<div id="shape2" class="shape">

@form(routes.Application.conversion, args = 'id -> "conversionForm") {

    @inputText(
        field = conversionForm("millis"),
        args = '_label -> "milliseconds:", 'placeholder -> ("now is " + java.lang.System.currentTimeMillis())
    )

    <input type="submit" value="Compute" class="computeButton">

}

</div>

}